mixin script(path)
  block js
    //- script(src="https://cdnjs.cloudflare.com/ajax/libs/barba.js/1.0.0/barba.min.js")
    //- script(src=path + "assets/js/app.js")
    script.
      new WOW().init();
