- var saihouji = "西芳寺";
- var saihouji_en = "SAIHOJI";

- var about = "西芳寺とは";
- var admission = "拝観案内";
- var info = "境内案内";
- var access = "交通アクセス";
- var reserve = "事前申込";

- var info_hond = "本堂";
- var info_ogon = "黄金池";
- var info_syon = "湘南亭";
- var info_sito = "指東庵";
- var info_kare = "枯山水";
- var info_zaze = "坐禅石";
