//- toreserve
//- mixin toreserve(path)
.st-ToReserve_Wrapper
  .st-ToReserve
    .st-ToReserve_Inner
      .st-ToReserve_BtnWrapper
        a(href="reservation.html", onclick="ga('send', 'event', 'to_reserve_btn', 'click', 'to_reserve');").st-ToReserve_Btn Reservation
          //- include _arrow_white
          img(src='../assets/img/arrow.png', alt='arrow', class="arrow-Img")
//- /toreserve
