- var saihouji = "西芳寺";
- var saihouji_en = "SAIHOJI";

- var about = "About SAIHOJI";
- var admission = "Admission";
- var info = "Information";
- var access = "Access";
- var reserve = "Reservation";

- var info_hond = "Hondō";
- var info_ogon = "Ougonchi";
- var info_syon = "Shōnantei";
- var info_sito = "Shitōan";
- var info_kare = "Karesansui";
