.admission-Mv {
  background: url("../img/admission/admission-mv_bgimg.png")no-repeat center top 0;
  //fixedはスクロール時にレイヤーを感じさせるやつ
  //left bottom 背景画像を左下スタートで固定 http://kumacrow.blog111.fc2.com/blog-entry-296.html
  background-size: cover;
  //領域全体を覆う
}

@include max-screen($BREAK_POINT_SP_iPhone6) {
  .admission-Mv {
    background: url("../img/admission/admission-mv_bgimgsp.png")no-repeat center top 0;
    background-size: cover;
  }
}

.admission-Main_Wrapper {
  margin: 0 auto;
  max-width: 770px;

  .admission-Main {
    padding: 55px 0 73px;

    .admission-Main_Table {
      border-collapse: collapse;
      text-align: left;
      width: 100%;

      .admission-Main_Tr {
        border-bottom: 1px $Border_Grey solid;
        letter-spacing: 2px;
        line-height: 2;

        th {
          font-size: 16px;
          padding-bottom: 42px;
          padding-top: 28px;
          text-align: center;
          vertical-align: top;
          width: 22%;

          .add-line {
            display: none;
          }
        }
        td {
          font-size: 14px;
          padding-bottom: 42px;
          padding-top: 28px;

          .space {
            padding-left: 1em;
          }

          ul {
            margin-bottom: 0;
            margin-top: 0;
            padding-left: 1px;

            li {
              font-size: 14px;
              list-style: none;
              margin-left: 1em;
              text-indent: -1em;
              &:before {
                color: $Txt_Red;
                content: "※";
                font-size: 14px;
              }
            }
          }
        }
        .admission-Main_Red {
          color: $Txt_Red;
          font-size: 14px;
        }
      }
    }
  }
}

@include max-screen($BREAK_POINT_TABLET) {
  .admission-Main_Wrapper {
    margin: 0 auto;
    max-width: 667px;

    .admission-Main {
      padding: 12px 17px 40px;

      .admission-Main_Table {
        border-collapse: collapse;
        text-align: left;
        width: 100%;

        .admission-Main_Tr {
          border-bottom: 1px $Border_Grey solid;
          letter-spacing: 2px;
          line-height: 2;

          th {
            font-size: 16px;
            padding-bottom: 42px;
            padding-top: 28px;
            vertical-align: top;
            width: 22%;

            .add-line {
              display: none;
            }
          }
          td {
            font-size: 14px;
            padding-bottom: 42px;
            padding-top: 28px;
          }
          .admission-Main_Red {
            color: $Txt_Red;
            font-size: 14px;
          }
        }
      }
    }
  }
}

@include max-screen($BREAK_POINT_SP_iPhone6) {
  .admission-Main_Wrapper {
    margin: 0 auto;
    max-width: 100%;

    .admission-Main {
      padding: 26px 17px 40px;

      .admission-Main_Table {
        border-collapse: collapse;
        text-align: left;
        width: 100%;

        .admission-Main_Tr {
          border-bottom: 1px $Border_Grey solid;
          letter-spacing: 2px;
          line-height: 2;

          th {
            font-size: 13px;
            padding-bottom: 20px;
            padding-top: 18px;
            vertical-align: top;
            width: 90px;

            .add-line {
              display: block;
            }
          }
          td {
            font-size: 12px;
            padding-bottom: 20px;
            padding-top: 18px;

            .space {
              padding-left: 0.5em;
            }
            ul {
              margin-bottom: 0;
              margin-top: 0;
              padding-left: 1px;

              li {
                font-size: 12px;
                list-style: none;
                margin-left: 1em;
                text-indent: -1em;
                &:before {
                  color: $Txt_Red;
                  content: "※";
                  font-size: 12px;
                }
              }
            }
          }
          .admission-Main_Red {
            color: $Txt_Red;
            font-size: 11px;
          }
        }
      }
    }
  }
}
