extend /_includes/_en/_layout
append variables
  //- Required
  - var pageTitle= "About SAIHOJI｜saihoji | kokedera";
  - var pageDescription= "Introduce of History,using photographs a lot.";
  - var pageKeywords= "saihoji,About SAIHOJI";
  //- Optional
  - var pageOgpTitle= "About SAIHOJI｜saihoji | kokedera";
  //- - var pageOgpImage= site.ogpImage
  - var pageOgpType= "article";
  //- Not modified
  - var pageUrl= "about.html";
  - var lang= "en";

block meta
  +meta('../')

block header
  +header('../')

block content
  //- contents
  .st-Mv_Wrapper#pagetop
    .st-Mv.about-Mv
      .st-Mv_Inner
        h2.st-Mv_Title #{about}
        .st-Mv_PageTop
          p SCROLL
          span.st-Mv_PageTopLine

  .about-Main_Wrapper
    .about-Main
      .about-Main_Head
        .about-Main_HeadInner
          h3 About SAIHOJI Temple
          p Located in western Kyoto, Saihoji Temple is a temple of the Rinzai sect of Zen Buddhism. <br class="hidden_sp">The Sango (title of the temple) is Mt. Kōinzan.<br class="hidden_sp">The temple, being covered in moss, is also known as a Koke-Dera or Moss Temple.
      .about-Main_TxtWrapper
        h3 The History
        p.about-Main_Txt Dating back 1,300 years ago, during the Nara Period under the wish of Emperor Shōmu, Gyōki founded 49 Hosso Sect temples, Saihoji Temple being one of them. It is said that before the temple was founded, during the Asuka Period, it was originally a villa of Prince Shōtoku.
        p.about-Main_Txt In early Heian Period, Kōbō Daishi temporarily lived in the temple, but by early Kamakura Period Hōnen converted the temple to a Jōdo sect. In 1339, following the devastation after conflict, Musō Kokushi, one of the most highly respected Zen priest, revived the Zen temple , by being invited by Fujiwara Chikahide (the chief priest of Matsunō Shrine).
        p.about-Main_Txt Since then, the temple has been visited by many, to practice Zazen, including Ashikaga Yoshimitsu and Yoshimasa. It is also said that Saihoji Temple was the prototype of temples representative of the Muromachi Period and the model for temples to follow, such as the famous Kinkakuji (Golden Pavilion) and Ginkakuji (Silver Pavilion).
        p.about-Main_Txt The 35,000 square meters garden is currently a Historic Sites and Places of Scenic Beauty of Japan, and was registered in 1994, as one of UNESCO’s World Cultural Heritage as a “Historic Monument of Ancient Kyoto”. Today, from the beautiful moss that covers the area, it is also popularly known as the Koke-Dera or Moss Temple.
        p.about-Main_Txt Many Zen temples were found around 700 years ago, during the Kamakura period, along with the artifacts and prosperity of Zen Budhisim. However, Saihoji Temple has a much longer history of over 1,200 years because of being founded in Tempyō period (A.D. 729~749). The longer history is proved, through playing a big part for changes in sects, as well as rooting in each era by fascinating those who visited.

  .about-Img_Wrapper
    //- スライダー
    //- http://kenwheeler.github.io/slick/
    .about-Img
      div
        img(src='../assets/img/about/about-slide_img01.jpg', alt='saihoji kokedera garden')
      div
        img(src='../assets/img/about/about-slide_img02.jpg', alt='saihoji kokedera Autumn leaves')
      div
        img(src='../assets/img/about/about-slide_img03.jpg', alt='saihoji kokedera winter')
      div
        img(src='../assets/img/about/about-slide_img04.jpg', alt='saihoji kokedera garden')
      div
        img(src='../assets/img/about/about-slide_img05.jpg', alt='saihoji kokedera')
      div
        img(src='../assets/img/about/about-slide_img06.jpg', alt='saihoji kokedera')
      div
        img(src='../assets/img/about/about-slide_img07.jpg', alt='saihoji kokedera roof')
      div
        img(src='../assets/img/about/about-slide_img08.jpg', alt='saihoji kokedera')
      div
        img(src='../assets/img/about/about-slide_img09.jpg', alt='saihoji kokedera garden')
      div
        img(src='../assets/img/about/about-slide_img10.jpg', alt='saihoji kokedera garden')
      div
        img(src='../assets/img/about/about-slide_img11.jpg', alt='saihoji kokedera garden')
      div
        img(src='../assets/img/about/about-slide_img12.jpg', alt='saihoji kokedera')
      div
        img(src='../assets/img/about/about-slide_img13.jpg', alt='saihoji kokedera garden')
      div
        img(src='../assets/img/about/about-slide_img14.jpg', alt='saihoji kokedera garden')
      div
        img(src='../assets/img/about/about-slide_img15.jpg', alt='saihoji kokedera garden')
  <script type="text/javascript">$(function() {$('#sample').slick();});</script>

  include /_includes/_en/_toreserve
  //- /contents
  <script type="text/javascript">mixpanel.track("about");</script>

block footer
  +footer('./')

block sp_header_nav
  +sp_header_nav('./')

block script
  +script('../')
