extend _includes/_layout
append variables
  //- Required
  - var pageTitle= "交通アクセス｜西芳寺 | 苔寺";
  - var pageDescription= "西芳寺の住所、電話番号、主要な各駅からのアクセス、駐車場の情報についてご紹介します";
  - var pageKeywords= "西芳寺,交通案内,苔寺,京都,アクセス";
  //- Optional
  - var pageOgpTitle= "交通アクセス｜西芳寺 | 苔寺";
  //- - var pageOgpImage= site.ogpImage
  - var pageOgpType= "article";
  //- Not modified
  - var pageUrl= "access.html";
  - var lang= "ja";

block content
  //- contents
  .st-Mv_Wrapper#pagetop
    .st-Mv.access-Mv
      .st-Mv_Inner
        h2.st-Mv_Title #{access}
        .st-Mv_PageTop
          p SCROLL
          span.st-Mv_PageTopLine

  .access-Main_Wrapper
    .access-Main
      table.access-Main_Table
        tr.access-Main_Tr
          th 所在地
          td 〒615-8286<br>京都府京都市西京区松尾神ヶ谷町56<br>アクセスマップは
              a(href="https://goo.gl/maps/mY37NWNLnYJ2" target="_blank") こちら
        tr.access-Main_Tr
          th 電話番号
          td
            a(href='tel:075-391-3631') 075-391-3631

        tr.access-Main_Tr
          th 主要<br>アクセス<br>方法
          td
            p 京都駅から
            ul
              li 京都バス(73系統)で約60分「苔寺・すず虫寺」下車、徒歩3分
              li タクシーで約30分(2,200〜2,500円程度)
            p 嵐山方面から
            ul
              li 京都バス(63または73系統)約15分「苔寺・すず虫寺」下車、徒歩3分
              li タクシーで約10分(1,000円程度)
            p 大阪方面から
            ul
              li 阪急電鉄京都線で約35分「桂駅」下車、タクシーで約12分(1,000円程度)
        tr.access-Main_Tr
          th 駐車場について
          td 境内には駐車場はございません。周辺地域にコインパーキングはございますが、時期によっては混雑致しますので、可能な限り公共交通機関やタクシーでお越しいただくことをおすすめしております。

  include /_includes/_toreserve
  //- /contents
  <script type="text/javascript">mixpanel.track("access");</script>
