// z-index
// 参照169p

// $Z_ST_HEADER: 20;

// page-transitions
$Z_PAGE_TRANSITION: 30;

// SP_navi
$Z_SP_NAVI_MENU_BTN_WRAPPER: 23;
$Z_SP_NAVI_MENU_BTN: 22;
$Z_SP_NAVI_MENU: 21;
$Z_SP_NAVI_MENU_OVERLAY: 20;

// header
$Z_SP_HEADER: 10;

// about slick left right botton
$Z_PC_SLICK_BOTTON: 5;

// Reservation ボタンのホバー演出擬似要素
$Z_TO_RESERVE_BTN: 2;

// top
$Z_TOP_ABOUT_IMG: 2;
$Z_TOP_ABOUT_GREEN_UNDER_IMG: 1;
$Z_TOP_ABOUT_LINK: 1;
